<h1>
<div align="center"> Welcome to the "Crap"iest Casino on Earth
</h1>
<div align="center"> <img src="http://rolipolli.files.wordpress.com/2014/03/displayoutlet-firstbatch-3-2.jpg">
<br>
<br>
<h2>
Test your luck on my new custom dice game.  In due time payouts will match Vegas Casino odds.
<br>
So good luck shooter, and "May the odds forever be in your favor <sup>TM</sup>!"
</h2>
<br>

  <% roll = 1 + rand(6) %>
  <% roll2 = 1 + rand(6) %>

Dice 1: <% roll %>

<img src="http://www.kiei925.com/images/dice/<%= roll%>.png">

Dice 2: <% roll2 %>

<img src="http://www.kiei925.com/images/dice/<%= roll2%>.png">







